body, html{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.mainContainer{
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    background-color:#6184C6 ;
    display: flex;

}

.leftContainer, .rightContainer{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h4{
    color:#FCD752;
    font-family: 'Monoton';
    font-size: 42px;
    padding-top: 50px;
    
}

p{
    width: 60%;
    font-size: 25px;
    text-align:justify;
    font-family: 'Poppins-Ligth';
    color: white;
}

.iconsBarContact{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-top: 100px;
}

.githubIcon, .linkedinIcon, .twitterIcon, .whatsappIcon{
    color:#FCA3B9;
    font-size: 60px;
    height: 100%;
    width: 20%;
    padding:0 20px;
    padding-bottom: 8px;
}

.githubIcon:hover, .linkedinIcon:hover, .twitterIcon:hover, .whatsappIcon:hover {
    color: white;
  }


