
.navContainer{
  width: 100%;
  height: 60px;
  padding:20px 0 0 0;
  margin: 0;
  list-style: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position:absolute;
  background-color: transparent;
  z-index: 2;

}

.bar{
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    background-color: transparent;
}

.home, .shop, .contact, .cartIcon{
    height: 50%;
    cursor: pointer;
}

a{
  color:#FCD752;
  text-decoration: none;
  letter-spacing: 6px;
  font-size: 22px;
  font-family: 'Poppins-Ligth';
}


.cartIcon{
  font-size: 40px;
  color:#FCD752;
}

.cartIcon:hover {
  color: #FCA3B9;
  /* background-color: #6184C6; */
}

a:hover {
  color: #FCA3B9;
  /* background-color: #6184C6; */
}

.marker{
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color:#FCA3B9;
  color:white;
  position: relative;
  left: 9px;
  top:14px;
  display:flex;
  justify-content: center;
  align-content: center;
  font-size: 20px;
  font-family: 'Poppins-Ligth';
}

.cartContainer{
  position: fixed;
  right: 30px;
  top:0;
}



.coolLink {
    text-decoration: none;
    color:white
  }
  
  .coolLink::after {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background:#FCA3B9;
    transition: width 0.1s;
  }
  
  .coolLink:hover::after {
    width: 100%;
    transition: width 0.5s;
  }

@media only screen and (max-width: 570px) {

  .navContainer{
    width: 100%;
    height: 40px;
    padding:0 0 0 0;
  }

  a{
    letter-spacing: 0px;
    font-size: 19px;
    margin-top: 30px;
  }

  .cartContainer{
    background-color: transparent;
  }

  .cartIcon{
    font-size: 34px;
    padding-right: 10px;
  }

  .marker{
    top:15px
  }

} 